<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>to do list</title>
    <link rel="stylesheet" href="todolist.css">
  </head>


  <body ng-app="ourModule" ng-controller="ourController">

    <h3>Mark's To-Do List</h3>

  <hr align="left"/>

  <br/>

    <input id="input" type="text" ng-model="item">

    <button class="button" ng-click="addItem(item)">add something</button>

    <input id="filter" type="text" ng-model="filter" placeholder="filter items">

      <ul class="list" ng-repeat="item in toDoList | filter: filter">

        <li> {{ item.name }} <button ng-click="removeItem(item)">remove item</button></li>

      </ul>

      <br/>
      <br/>
      


   <hr align="left"/>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
  <script src="script.js"></script>
  </body>
</html>
